<div class="container my-4 mx-auto py-2">
  <div class="row">
    <!--------------------------For Searching ------------------------ -->
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="legacy">
        <input
          type="text"
          placeholder="Search..."
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option['name']"
          >
            <button
              mat-button
              color="primary"
              aria-label="Make Request"
              matTooltip="Claim This Item"
              matTooltipPosition="right"
              [routerLink]="['/dashboard/items/show', option['id']]"
              routerLinkActive="router-link-active"
            >
              <img
                [src]="option['images'][0][0]['src']"
                width="30px"
                height="30px"
              />
              {{ option["name"] }}
            </button>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <mat-grid-list cols="4" rowHeight="100px">
    <ng-container *ngFor="let item of filteredOptions | async; let i = index">
      <mat-card class="my-2">
        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
          <div class="spacer"></div>
          <mat-chip-list aria-label="Request Status">
            <mat-chip color="accent" *ngIf="item.is_found == 1" selected
              >Found Item</mat-chip
            >
            <mat-chip color="warn" *ngIf="item.is_found == 0" selected
              >Lost Items</mat-chip
            >
            <mat-chip color="primary" *ngIf="item.is_found == -1" selected
              >Returned Item</mat-chip
            >
          </mat-chip-list>
        </mat-card-header>
        <img
          matCardImage
          src="./../../../../../../assets/imgs/categories/{{
            item.category
          }}.svg"
          alt="item.name"
          height="300px"
          width="250px"
        />
        <mat-card-content>
          Text content
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-around">
          <button
            class="matBtn"
            color="warn"
            mat-icon-button
            aria-label="Delete Item"
            matTooltip="Delete Item"
            matTooltipPosition="above"
            (click)="deleteItem(item.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            class="matBtn"
            mat-icon-button
            color="accent"
            aria-label="Update Item"
            matTooltip="Update Item"
            matTooltipPosition="above"
            [routerLink]="['/dashboard/items/update', item.id]"
            routerLinkActive="router-link-active"
          >
            <mat-icon>settings</mat-icon>
          </button>
          <button
            class="matBtn"
            mat-icon-button
            color="accent"
            aria-label="View Item"
            matTooltip="View Item"
            matTooltipPosition="above"
            [routerLink]="['/dashboard/items/view', item.id]"
            routerLinkActive="router-link-active"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            class="matBtn"
            mat-icon-button
            color="warn"
            aria-label="Mark As Returned Item"
            matTooltip="Mark As Returned Item"
            matTooltipPosition="above"
            (click)="markAsReturned(item.id)"
          >
            <mat-icon>fingerprint</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </mat-grid-list>
</div>
