<nav style="background-color: #212121 !important;" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-2 ">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <span class="findlogo">Find<span style="color: #00BFA6;"> Me </span></span>
  </a>
  <div class="navIco d-flex justify-content-center align-items-center px-2 ">  
    <div style="background-color: white;" class="rounded-circle notif">
      <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" aria-label="Example icon-button with a menu">
        <mat-icon style="color: #212121;" [matBadge]="notificationsNumber != '0' ? notificationsNumber : ''" matBadgeColor="warn">notifications
        </mat-icon>
      </button>
      <mat-menu  #notificationsMenu="matMenu">
        <ng-container *ngFor="let notification of AllNotifications">
          <button  mat-menu-item [routerLink]="[notification['url']]" routerLinkActive="router-link-active"
            (click)="markAsReaded(notification['id'])">
            {{ notification["body"] }}
          </button>
        </ng-container>
      </mat-menu>
    </div>
    <div class="mx-2">
      <a (click)="logout()" class="navOut">
        <i style="color: white;" class="fa fa-power-off fa-2x nOut"></i>
      </a>
    </div>
    <!--<div class="clr"></div>-->
    
  </div>
  
    
 

</nav>
<nav class="main-menu py-5">
  <ul class="pt-5">
    <li>
      <a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>

    </li>
    <li>
      <a [routerLink]="['/dashboard/account']" [routerLinkActive]="['active']">
        <i class="fa fa-user-circle fa-2x"></i>
        <span class="nav-text">
          My Profile
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a [routerLink]="['/dashboard/items']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
          Items
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/dashboard/requests" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-angle-double-left fa-2x"></i>
        <span class="nav-text">
          My Requests
        </span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/increquests" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-angle-double-right fa-2x"></i>
        <span class="nav-text">
          Incoming Requests
        </span>
      </a>
    </li>
    <li class="px-2">
    
  </li>
  </ul>
</nav>
<main class="mx-5 p-5">
  <router-outlet></router-outlet>
</main>